<?xml version="1.0"?>
<phpunit processIsolation="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="WordPress Plugin Tests">
            <directory>tests-wp</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">.</directory>
        </include>
    </source>
</phpunit>
